---
import { NAV_LINKS } from '@/constants/navLinks';
import { Icon } from 'astro-icon/components';
import './header.css';
const normalizePath = (path: string) => path.replace(/\/$/, '') || '/';
const currentPath = normalizePath(Astro.url.pathname);
---

<header class="header">
  <div class="header__container wrapper">
    <div class="header__content">
      <div class="header__actions">
        <button
          popovertarget="mobile-navigation"
          popovertargetaction="show"
          class="header__toggle"
          aria-label="toggle open menu"
        >
          <Icon name="menu" />
        </button>
      </div>
      <a class="header__logo" href="/" aria-label="retur to home">
        <Icon name="logo" class="header__image" />

        <span class="header__title">Hotel <span>Miranda</span></span>
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        {
          NAV_LINKS.map(({ text, href }) => (
            <li class="header__nav-item">
              <a class="header__nav-link" href={href} aria-label={text}>
                {text}
              </a>

              {currentPath === href && <div class="active" transition:name="menu-line" />}
            </li>
          ))
        }
      </ul>
    </nav>

    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" href="#">
          <Icon name="profile" class="header__icon" />
        </a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">
          <Icon name="search" class="header__icon" />
        </a>
      </li>
    </ul>
  </div>
  <nav popover class="header__mobile wrapper" id="mobile-navigation">
    <button
      popovertarget="mobile-navigation"
      popovertargetaction="hide"
      class="header__close header__toggle--hidden"
      aria-label="button close menu"
    >
      <Icon name="cross" />
    </button>
    <ul class="header__mobile-list">
      {
        NAV_LINKS.map(({ text, href }) => (
          <li class="header__mobile-item">
            <a class="header__mobile-link" href={href} aria-label={text}>
              {text}
            </a>
            {currentPath === href && <div class="mobile-active" />}
          </li>
        ))
      }
    </ul>
  </nav>
</header>
