---
import type { RoomOffer } from '@/constants/navLinks';
import { Icon } from 'astro-icon/components';
import './offerCard.css';
type Props = {
  room: RoomOffer;
};

const { room } = Astro.props;
---

<article class="offer">
  <div class="offer__image">
    <img src={room.image} alt={room.title} class="offer__img" />
  </div>

  <div class="offer__content">
    <div class="offer__header">
      <div>
        <span class="offer__subtitle title">{room.roomType}</span>
        <h2 class="offer__title old">{room.title}</h2>
      </div>
      <div class="offer__prices---desk">
        <span class="offer__price offer__price--original">${room.oldPrice}/night</span>
        <span class="offer__price offer__price--offer">${room.price}/night</span>
      </div>
    </div>
    <p class="offer__description">
      {room.description}
    </p>
    <ul class="offer__aminities roboto">
      <li class="offer__aminitie">
        <Icon name="snow" class="offer__icon" />
        <span>Air conditioner</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="wifi" class="offer__icon" />
        <span>High speed WiFi</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="wifi" class="offer__icon" />
        <span>Breakfast</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="kitchen" class="offer__icon" />
        <span>Kitchen</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="cleaning" class="offer__icon" />
        <span>Cleaning</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="shower" class="offer__icon" />
        <span>Shower</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="grocery" class="offer__icon" />
        <span>Grocery</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="bed" class="offer__icon" />
        <span>Single bed</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="shop" class="offer__icon" />
        <span>Shop near</span>
      </li>
      <li class="offer__aminitie">
        <Icon name="towels" class="offer__icon" />
        <span>Towels</span>
      </li>
    </ul>
    <button class="offer__btn">Book Now</button>
  </div>
</article>
